@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../images/background/background.jpg');
    background-size: cover;
    background-attachment: fixed;

    background-position: center;
    height: 100vh;
}

@media only screen and (max-width: 576px) { 
    .container-certificate-title p {
        font-size: 0.85rem;
    }

    .container-notarial-acts-title {
        padding: 0 0.5rem
    }

    .container-certificate {
        font-size: 1.05rem;
        padding: 1rem 2rem;
    }

    .container-notarial-acts-buttons {
        padding: 3rem 1.4rem;
    }

    .container-notarial-acts-buttons button {
        font-size: 16px;
    }

    .container-info {
        flex-direction: column;
        text-align: center;
    }

    .container-info img {
        width: 22rem;
        padding: 2.8rem 0 0.8rem 0;
    }

    .container-about-p-one {
        font-size: 1.7rem;
        padding-bottom: 1rem;
    }

    .container-about-p-two {
        font-size: 1.02rem;
        padding: 0 1.6rem;
    }

    .header-btn {
        padding: 10px 17px;
        font-size: 13.5px;
    }
}

@media only screen and (min-width: 576px) {   
    .container-certificate-title p {
        font-size: 0.75rem;
    }

    .container-notarial-acts-title {
        padding: 0 5rem
    }

    .container-certificate {
        font-size: 1.05rem;
        padding: 4rem 2rem;
    }

    .container-notarial-acts-buttons {
        padding: 3rem 2rem;
    }

    .container-notarial-acts-buttons button {
        font-size: 16px;
    }

    .container-about-p-one {
        font-size: 20px;
        padding-bottom: 5px;
    }

    .container-about-p-two {
        font-size: 14px;
        padding-bottom: 1.2rem;
    }

    .header-btn {
        padding: 7px 12px;
        font-size: 10px;
    }

    .container-info img {
        width: calc(5rem + 5vw + 5vh);
        padding: 2.8rem 0 0.8rem 0;
    }

    .container-about {
        padding-right: calc(9vw + 5vw);
    }
}

@media only screen and (min-width: 768px) {    
    .container-certificate-title p {
        font-size: 0.85rem;
    }

    .container-notarial-acts-title {
        padding: 0 10rem
    }

    .container-certificate {
        font-size: 1.05rem;
        padding: 2rem 3rem;
    }

    .container-notarial-acts-buttons {
        padding: 3rem 5rem;
    }

    .container-notarial-acts-buttons button {
        font-size: 17px;
    }

    .container-about-p-one {
        font-size: 26px;
        padding-bottom: 6px;
    }

    .container-about-p-two {
        font-size: 18px;
        padding-bottom: 1.7rem;
    }

    .header-btn {
        padding: 9px 14px;
        font-size: 13.5px;
    }

    .container-info img {
        width: calc(8rem + 10vw + 10vh);
    }

    .container-about {
        padding-right: calc(9vw + 5vw);
    }
}

@media only screen and (min-width: 998px) {    
    .container-certificate-title p {
        font-size: 0.9rem;
    }

    .container-notarial-acts-title {
        padding: 0 18rem;
    }

    .container-certificate {
        font-size: 1.05rem;
        padding: 2rem 5rem;
    }

    .container-notarial-acts-buttons {
        padding: 3rem 5rem;
    }

    .container-notarial-acts-buttons button {
        font-size: 18px;
    }

    .container-about-p-one {
        font-size: 32px;
        padding-bottom: 8px;
    }

    .container-about-p-two {
        font-size: 20px;
        padding-bottom: 2.5rem;
    }

    .header-btn {
        padding: 12px 18px;
        font-size: 14px;
    }

    .container-info img {
        width: calc(8rem + 10vw + 10vh);
    }

    .container-about {
        padding-right: calc(9vw + 5vw);
    }
}

@media screen and (min-width: 1200px) {
    .container-notarial-acts-title {
        padding: 0 25rem;
    }

    .container-certificate-title p {
        font-size: 1.05rem;
        padding: 0 10rem;
    }

    .container-certificate {
        font-size: 1.05rem;
        padding: 2rem 1rem;
    }
    
    .container-notarial-acts-buttons {
        padding: 3rem 10rem;
    }

    .container-notarial-acts-buttons button {
        font-size: 19px;
    }

    .container-about-p-one {
        font-size: 32px;
        padding-bottom: 8px;
    }

    .container-about-p-two {
        font-size: 20px;
        padding-bottom: 2.5rem;
    }

    .header-btn {
        padding: 12px 18px;
        font-size: 14px;
    }

    .container-info img {
        width: calc(8rem + 10vw + 10vh);
    }

    .container-about {
        padding-right: calc(9vw + 5vw);
    }

}

.circle {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: rgb(236, 130, 0);
  cursor: pointer;
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(0.95);
  }
}

.circle__plus,
.circle__minus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;

    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    font-weight: bold;

    user-select: none;
}

#divViber {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    bottom: 0;
    width: 100%;
    margin: 0 -25px 30px;
    position: fixed;
    transform: translate(0%, 0%);
    align-items: center;
}

.viber-p {
    background-color: #fafafa;
    padding: 1vh 1vh;
    border-radius: 10px;
    box-shadow: 4px 2px 14px 0 #00000085;
    transform: translate(470%, -75%);
}

#triangle {
    position: fixed;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid white;
    rotate: 90deg;
    right: 0;
    transform: translate(-250%, 480%);
}

.viber:hover {
    opacity: 0.95;
}

.container-certificate {
    text-align: center;
}

.container-list-more-info p:first-child {
    font-size: calc(1rem + 0.15vw);
    padding-top: 2rem;
}

.container-list-more-info p:last-child {
    font-size: calc(1rem + 0.15vw);
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.container-list:last-child p {
    font-size: calc(1rem + 0.15vw);
    padding-top: 1rem;
}

.container {
    font-family: 'Open Sans', 'Arial', sans-serif;
    padding-top: 3rem;
}

.container-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-certificate {
    background-color: #fff;
    border-top: rgb(214, 214, 214) solid 0.1rem;
    margin: 2rem 2rem;
}

.container-notarial-acts {
    text-align: center;
}

.container-notarial-acts-buttons li {
    margin: 10px 0;
}

.container-list {
    text-align: left;
    border-top: 1px solid rgb(214, 214, 214);
    cursor: default;
}

.container-list:last-child {
    border-top: 1px solid rgb(214, 214, 214);
}

.collapsible {
    font-size: calc(1.085rem + 0.1vw);
    text-align: left;
    background-color: #fff;
    padding: 1rem 0 0.5rem calc(0.2rem + 1vw);
    width: 100%;
    border: 0;
    outline: 0;
}

.content {
    padding-left: calc(3rem + 2vw);
    font-size: 1rem;
}

.header-btn {
    text-decoration: none;
    color: #fff;
    background-color: rgb(0, 31, 206);
    border-radius: 18px;
    cursor: pointer;
}

.box {
    opacity: 0;
    transition: all 1s ease-out;
}

.appear {
    opacity: 1;
}
  
